<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>Моя галерея</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
     <script type="text/javascript" src="scripts/jquery.js"></script> 
     <script type="text/javascript" src="scripts/fancybox/jquery.mousewheel-3.0.4.pack.js"></script> 
     <script type="text/javascript" src="scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script> 
 <link rel="stylesheet" type="text/css" href="scripts/fancybox/jquery.fancybox-1.3.4.css" media="screen" /> 
	<script src="scripts/script.js"></script> 
</head>

<body>

<div id="main">
	{% include 'gallery.tmpl' %}
</div>

</body>
</html>